.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: blue;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: blue;
}

.paginationActive a {
  color: white;
  background-color: #4e50a8;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  padding-top: 6%;
}
